body{margin:0;padding: 0;font:1.25rem/1.66rem monospace,arial,sans;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-weight: normal;color:#fff;background-color:#000}

.wh1{min-height: 100vh}
.mwwa{min-width:-webkit-fill-available;}

*::-webkit-scrollbar{width:10px;height:9px}
*::-webkit-scrollbar-track{background:#000;}
*::-webkit-scrollbar-thumb{min-height:60px;background-color:#ccc;border-radius:6px;}
*::-webkit-scrollbar-button:start:decrement,*::-webkit-scrollbar-button:end:increment{display:none;height:14px;background-color:#176a97}

[alt="logo"]{filter: invert(1)}

.pa{position:absolute}
.pf{position:fixed}

.db{display: block}
.in{display: inline-block}
.fx{display: flex}
.fw{flex-wrap: wrap}
.ac{align-items: center}
.jc{justify-content: center}
.fsb{justify-content: space-between}
.fsa{justify-content: space-around}
.jce{justify-content:end}
.fdc{flex-direction: column}
.gap_5{gap: .5rem}
.gap1{gap: 1rem}
.gap3{gap: 3rem}
.fb40{flex-basis:40%;}
.fb50{flex-basis:50%;}

.z-1{z-index:-1}
.z-2{z-index:-2}
.z1{z-index:1}
.z2{z-index:2}
.z3{z-index:3}
.z4{z-index:4}
.z5{z-index:5}
.z10{z-index:10}

small{font-size:60%;}

.p_l{padding-left: 10vw;}
.p_r{padding-right: 10vw;}

input {min-width: 100%;width: 100%;transition: box-shadow 0.7s ease 0s;border-radius: 0.25rem;padding: 0.75rem;border: 0px;box-shadow: rgb(255 255 255) 0px 0px 0px 1px, rgb(0 0 0) 0px 3px 15px;background-color: rgba(1, 1, 1, 0.7);margin-top: 0.5rem;box-sizing: border-box}
.cf {color: rgb(255, 255, 255);}
button, input {overflow: visible;}

.br,.btn,pre{border-radius: 6px;}

a{border:0;color:#ccc;text-decoration: none;}
address{font-style: normal;}

nav{position:fixed;top:0;right:0;left:0;padding: 1rem 0;backdrop-filter: blur(6px);}
nav ul{margin:0}
nav ul li{list-style:none}

.bg{background-color: rgb(1,0,0,50%);}

.btnClick{border: 3px solid;border-image-source: linear-gradient(153deg,#4c4c4c,#efefef);border-image-slice: 1;white-space: nowrap;transition:box-shadow .25s,transform .15s;padding: 1rem;font-size: 1.2rem;margin-left: auto;margin-right: auto;}


.btn-start-anim{bottom:3rem;right:3rem;width: 3.4rem; height: 3.4rem; background-color: #0b6497;border-radius: 50%;border:0;
    padding: 3px 0 3.5px 2px;
    box-shadow: inset 0 2px 2px rgba(0,0,0,.5), inset 0 -1px rgba(255,255,255,.7);
    text-align: center;
    animation: e 15s infinite linear;
    color: #fff;cursor: pointer;transition: transform linear .3s;
}
.btn-start-anim:hover{transform: rotatey(0)rotatex(0);box-shadow: 0 0 0 0;animation-name:none!important;}

.btn-start-anim:after,.btn-start-anim:before {
    content: '';
    position: absolute;
    z-index: -1;
    right: 0;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-color: rgba(185,224,255,.9) transparent rgba(185,224,255,.9) transparent;
    border-radius: 50%;
    top: -2px;
    right: -2px;
    animation: q 15s infinite linear
}

.btn-start-anim:after {
    border-color: transparent rgba(0,23,69,.5) transparent rgba(0,23,69,.5);
    animation: q 15s infinite linear reverse
}

@keyframes q {
    0% {transform: rotate(360deg)}
    100% {transform: rotate(-360deg)}
}

@keyframes e {
    0% {transform: rotatey(0)rotatex(-360deg);box-shadow: 0 0 0 0}
    10% {transform: rotatey(25deg)rotatex(25deg);box-shadow: -3px 3px 0 #29506F,-5px 5px 0 #29506F}
    90% {transform: rotatey(0)rotatex(0);box-shadow: 0 0 0 0}
    100% {transform: rotatey(360deg)rotatex(0);box-shadow: 0 0 0 0}
}