html,body
{
    height: 100vh;
    /* font-family: 'Poppins'; */
}

.webgl
{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    outline: none;
}

.dg{z-index: 10!important;}

.dg .c {
    display: flex;
}

.dg .c .slider {
    flex: 1 0 auto;
}